<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <p th:text="${element}"></p>
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th> <th>이름</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="element : ${detailelements}">-->
<!--                <td th:text="${element.id}"></td>-->
<!--                <td th:text="${element.code1}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
    </div>

</div> <!-- /container -->

</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var element = [[${element}]]
/*]]>*/



</script>

</html>